body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    color: #333;
    text-align: center;
}

form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 20px;
}

form input, form button {
    flex: 1 1 45%;  /* Adjusts to 45% width */
    padding: 10px;
    margin: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

form button {
    flex: 1 1 auto;
    cursor: pointer;
    background-color: #4CAF50;
    color: white;
    border: none;
}

.button {
    margin: 10px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
}

.button:hover {
    background-color: #45a049;
}

#patientList {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#patientList li {
    padding: 10px;
    margin: 5px 0;
    background-color: #e0e0e0;
    border-radius: 4px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 90%;
}

.notification {
    position: fixed;
    bottom: 10px;
    right: 10px;
    background-color: #4CAF50;
    color: white;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.notification.error {
    background-color: #f44336;
}

@media (max-width: 600px) {
    .container {
        padding: 10px;
    }
    
    form input, form button {
        flex: 1 1 100%;  /* Adjusts inputs and buttons to full width on small screens */
        margin: 5px 0;
    }
    
    .button {
        width: 100%;
        font-size: 14px;
        padding: 10px;
    }

    #patientList li {
        padding: 10px;
        text-align: center;
        flex-direction: column;
    }
}
